*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #81007F;
  --secondery-color: #F68722;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'cairo';
}


main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .right-section{
  display: flex;
  flex-flow: column;
}

main .right-section img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  align-self: center;
}

main .right-section form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main .right-section form .error {
  color: red;
}

main .right-section form label {
  font-size: 20px;
  font-weight: bold;
}

main .right-section form input {
  width: 350px;
  padding: 5px 2px;
  outline-color: var(--primary-color);
  font-size: 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
}

main .right-section form #send {
  margin-top: 30px;
  font-weight: bolder;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  
}

main .right-section form #send:hover{
  background-color: var(--secondery-color);
  color: #fff;
  border-color: var(--secondery-color);
}